modules = ["nodejs-14", "nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Run Next.js"

[[workflows.workflow]]
name = "Run Next.js"
author = 21921035
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Run Next.js with Yarn"
author = 21921035
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn dev"

[[ports]]
localPort = 3000
externalPort = 80
